
@media (max-width: 1366px) {
  .service-section .card
  {
    width:100%;
  }
  .main-header .nav-item
 {
    padding-left: 8px;
    padding-right: 8px;
}

}


@media (max-width: 991px) {

  .hero-content
{

}

  .hero-content p {
    width: 100%;
    font-size: 20px;
  }

  .list-style
{
  margin-bottom: 50px;
}

.whyus-section p
{
  text-align: center;
}

.whyus-section h2 {
  text-align: center;
}

.about-text h1 {

  text-align: center;
}

.about-text p {
  text-align: center;
  margin-bottom: 40px;
}

.about-images {
  padding: 0px 40px;
  width: 300px;
  margin: 0px auto;
}
.main-header .navbar-collapse
{
  position: relative;
  padding: 0px;
}


.navbar-collapse ul li
{
  text-align: center;
  background: #e9e9e9;
  margin-bottom: 4px;
}


.main-header .container
{
  display: flex;
}

.main-header .navbar-brand
{
  width: 80%;
}

.main-header .navbar-brand img
{
  width: 50%;
}

.service-section .card
{
  width:60%;
}

.contact-icons
{
  justify-content: center;
}

.project-section .content
{
  padding: 0px;
}
.project-section .content h3
{
  font-size: 28px;
}
.project-section .content p
{
  font-size: 16px;
}

.about-text p
{
  font-size: 18px;
}

}

@media screen and (max-width: 768px) {

  .hero-content h1
  {
    font-size: 35px;
  }
  .hero-content p {
    width: 100%;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 0px;
}

.whyus-section h2 {
 font-size: 35px;
}

.whyus-section p {
  font-size: 22px;
}

.about-text h1 {
  font-size: 35px;
}

#hero-section {
  height: 100%;
}


.hero-content h1 {
  margin-top: 40px;
  font-size: 35px;
  margin-bottom: 10px;
}
#hero-section {
  height: 100%;
  padding: 60px 0px;
}



.about-text p {

  margin-bottom: 20px !important;
}

.form-content h1 {
  font-size: 35px;
  margin: 10px 0px;
}

.form-style {

  width: 95%;
}


.service-section .card
{
  width:80%;
}

#footer .text-center
{
  font-size: 14px;
}
#footer .footer-top .footer-logo img
{
  padding: 0px;
}
}




@media screen and (max-width: 520px) {

  .hero-content h1 {
 
    font-size: 25px;
  }

  .whyus-section h2 {
    font-size: 25px;
}

.whyus-section p {
  font-size: 18px;
}

.list-style li{
  font-size: 18px;
}

.about-text h1 {
  font-size: 25px;
}
.about-text p {
  font-size: 16px;
  font-weight: 500;
}

.form-content h1 {
  font-size: 28px;
}

.form-button .form-btn {
  padding: 15px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  font-size: 16px;
}

.main-header .navbar-brand img
{
  width: 70%;
}


.gotoForm
{
  margin: 0px;
  font-size: 20px;
}


.service-section .card
{
  width:90%;
}


.main-header .navbar-brand
{
  width: 75%;
}
.service-section ul li a
{
  font-size: 16px;
}

#footer .footer-top .footer-logo
{
  width: 60%;
}

.text-contend-section h2
{
  font-size: 26px;
}
.text-contend-section p {
  font-size: 16px;
}
.breadcrum-section ul li a
{
  font-size: 16px;
}

.centraal-logo
{

  margin-top: 20px;
  place-self: center;
}
.centraal-logo img
{
  width: 100%;
}

}